<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
  <title>HYPED | <%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://beta.hypeds.com/css/NexusLib_v1.5.css" media="screen">
  <link rel="stylesheet" href="https://beta.hypeds.com/css/HPD_Loader.css">
  <link rel="stylesheet" href="https://beta.hypeds.com/css/Sidebar.css" media="screen">
  <link rel="stylesheet" href="https://beta.hypeds.com/css/HPD_FORMS_DASH_Forms.css" media="screen">
  <script class="u-script" type="text/javascript" src="https://beta.hypeds.com/js/jquery.js"  defer=""></script>
  <script class="u-script" type="text/javascript" src="https://beta.hypeds.com/js/NEOHyped.js"  defer=""></script> 
  <script>
    async function GetAPIVersion() {
      let response = await fetch(`https://api.hypeds.com/version`)
      let data = await response.json()

      return data.version  
    }
    async function fetchData() {
      let apiversion = await GetAPIVersion()
      console.log(`[HPD] Version: ${apiversion}`)
    }

    document.addEventListener("DOMContentLoaded", function() {
       setTimeout(function() {
         document.querySelector("body").classList.add("loaded");
      }, 500)
    });
    fetchData();
  </script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="en">
    <section class="u-black u-clearfix u-section-1" id="sec-c7f1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-contain u-image-default u-image-1" src="https://beta.hypeds.com/images/hyped1.png" alt="" data-image-width="640" data-image-height="642">
        <h3 class="u-text u-text-default u-text-1">
          <a href="https://api.hypeds.com/v7/forms/dashboard/" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1">Home</a>&nbsp; <a href="https://api.hypeds.com/v7/forms/dashboard/forms" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-2">Formularios</a>&nbsp;&nbsp;<a href="https://api.hypeds.com/v7/forms/dashboard/create" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-3">Criar Form</a>
        </h3>
        <img class="u-image u-image-round u-radius-50 u-image-2" src="<%= avatarURL %>" alt="" data-image-width="913" data-image-height="840">
        <h6 class="u-align-center u-text u-text-default u-text-2">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-1 u-btn-4" href="https://www.hypeds.com/logout">LOGOUT</a>
        </h6>
      </div>
    </section>
    <section class="u-border-1 u-border-grey-50 u-border-no-left u-border-no-right u-clearfix u-image u-section-2" id="sec-8f65" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-1">Formulários Recebidos</h1>
      </div>
    </section>
    <script>
      function GenerateList() {
        const idArray = <%- idArray %>
        const usernamesArray = <%- usernamesArray %>
        const userIdArray = <%- userIdArray %>

        let listLenght = idArray.length

        for (let i = 0; i < listLenght; i++) {
          const ID = idArray[i]
          const username = usernamesArray[i]
          const userID = userIdArray[i]

          ListCreator(ID, username, userID)
        }
      }

      function ListCreator(ID, username, userID) {
        let listBlock = ""
        listBlock = `<section class="u-clearfix u-grey-90 u-section-3" id="sec-f873">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-style u-grey-80 u-group u-radius-10 u-shape-round u-group-1" data-href="https://api.hypeds.com/v7/forms/dashboard/forms/${ID}/${userID}">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-custom-font u-font-oswald u-text u-text-default u-text-1">ID: ${ID}</h1>
            <h1 class="u-custom-font u-font-oswald u-text u-text-default u-text-2">USERNAME: ${username}</h1>
          </div>
        </div>
      </div>
    </section>`

        var list = document.getElementById("ListBlocks")
        var item = document.createElement("b")
        item.innerHTML = listBlock

        list.appendChild(item)
      }

      document.addEventListener("DOMContentLoaded", function() {
        GenerateList()
      })
    </script>
    <div id="ListBlocks">

    </div>
    <section class="u-clearfix u-container-align-center u-image u-section-4" id="sec-5e06" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>


    <footer class="u-align-center u-clearfix u-footer u-grey-90 u-footer" id="sec-7a5d"><div class="u-clearfix u-sheet u-sheet-1">
        <h5 class="u-text u-text-default u-text-1">Certificados</h5>
        <h6 class="u-text u-text-default u-text-2">Powered by <br>HYPED GROUP 2023
        </h6>
        <a href="https://www.hypeds.com/login?redirectTo=https://www.hypeds.com/" class="u-border-1 u-border-white u-btn u-btn-round u-button-style u-none u-radius-10 u-text-body-alt-color u-text-hover-white u-btn-1">Login</a>
        <h6 class="u-text u-text-default u-text-3">Links Úteis<br>
          <a href="https://status.hypeds.com/" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-1 u-btn-2">Status Page<br>
          </a>
          <a href="https://api.hypeds.com/docs" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-1 u-btn-3" target="_blank">API</a>
          <br>
          <a href="https://www.hypeds.com/discord" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-1 u-btn-4">Discord</a>
          <br>
          <a href="https://hpd.ink" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-1 u-btn-5">Encurtador</a>
        </h6>
        <img class="u-image u-image-contain u-image-default u-image-1" src="https://beta.hypeds.com/images/google-safe-browsing.png" alt="" data-image-width="844" data-image-height="243" data-href="https://transparencyreport.google.com/safe-browsing/search?url=https:%2F%2Fwww.hypeds.com&amp;hl=pt_BR" data-target="_blank">
        <h6 class="u-text u-text-default u-text-4">
          <a href="https://www.hypeds.com/about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-1 u-btn-6">Sobre Nós</a>
          <br>
          <a href="https://www.hypeds.com/support" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-1 u-btn-7">Suporte</a>
          <br>
          <a href="https://www.hypeds.com/privacypolicy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-1 u-btn-8">Políticas de Privacidade<br>
          </a>
          <a href="https://www.hypeds.com/tos" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-1 u-btn-9">Termos de Serviço</a>
          <br>
          <a href="https://www.hypeds.com/cookies" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-1 u-btn-10">Cookies</a>
        </h6>
        <img class="u-image u-image-contain u-image-default u-image-2" src="https://beta.hypeds.com/images/ssl-secure.png" alt="" data-image-width="713" data-image-height="200" data-href="https://www.sslchecker.com/sslchecker?su=da98d944ba1834a64794f688375a401b" data-target="_blank">
        <div class="u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" title="facebook" target="_blank" href="https://www.hypeds.com/facebook"><span class="u-icon u-social-facebook u-social-icon u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-753e"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-753e"><path fill="currentColor" d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2
c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg></span>
          </a>
          <a class="u-social-url" title="twitter" target="_blank" href="https://www.hypeds.com/twitter"><span class="u-icon u-social-icon u-social-twitter u-text-white u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ec45"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-ec45"><path fill="currentColor" d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2
  c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7
  c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2
  c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5
  c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg></span>
          </a>
          <a class="u-social-url" title="instagram" target="_blank" href="https://www.hypeds.com/instagram"><span class="u-icon u-social-icon u-social-instagram u-text-white u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ea92"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-ea92"><path fill="currentColor" d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z
   M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path fill="#FFFFFF" d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path fill="currentColor" d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7
  V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7
  c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg></span>
          </a>
        </div>
      </div></footer>
</body></html>